In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.font_manager import FontProperties
zhfont = FontProperties(fname="/System/Library/Fonts/PingFang.ttc")
import numpy as np
import tushare as ts 
token = "a7c1312fe8187bff67ada6333c4b447caff18f58be66ac8b64d20d5a"
api = ts.pro_api(token)

In [131]:
import os

In [2]:
df = pd.read_csv("both.csv")

In [3]:
df

,code,name,mark,startTime_roe,check,industry,startTime_cf,check.1,both
0,000799.SZ,酒鬼酒,I,2014-12,1.0,食品饮料,2020-03,1.0,1.0
1,002216.SZ,三全食品,I,2017-03,1.0,食品饮料,2019-12,1.0,1.0
2,002568.SZ,百润股份,I,2017-06,1.0,食品饮料,2017-09,1.0,1.0
3,002661.SZ,克明面业,I,2018-06,1.0,食品饮料,2018-06,1.0,1.0
4,600809.SH,山西汾酒,I,2015-09,1.0,食品饮料,2018-12,1.0,1.0
...,...,...,...,...,...,...,...,...,...
106,002080.SZ,中材科技,I,2017-09,1.0,化工,2017-06,1.0,1.0
107,002556.SZ,辉隆股份,I,2019-12,1.0,化工,2018-12,1.0,1.0
108,002683.SZ,宏大爆破,I,2016-12,1.0,化工,2016-12,1.0,1.0
109,002194.SZ,武汉凡谷,I,2018-06,1.0,通信,2018-12,1.0,1.0
110,002467.SZ,二六三,I,2018-03,1.0,通信,2020-03,1.0,1.0

In [7]:
codes = df.code.values
stRoe = df.startTime_roe.values
stCf = df.startTime_cf.values

## 测试
- pearson

- granger

In [38]:
tempCode = codes[0]
roeTime = stRoe[0]
cfTime = stCf[0]
st1 = "".join(roeTime.split("-"))+"01"  # start time roe
st2 = "".join(cfTime.split("-"))+"01"  # start time cf
et = "20201231"  # end time

In [123]:
price = ts.pro_bar(ts_code=tempCode, adj='qfq', start_date=st1, end_date=et)

In [132]:
price.head()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000799.SZ,2020-12-31,154.51,158.80,151.86,156.50,153.99,2.51,1.6300,135903.94,2112010.281
1,000799.SZ,2020-12-30,144.16,154.78,143.50,153.99,144.88,9.11,6.2880,167853.06,2518328.321
2,000799.SZ,2020-12-29,145.00,146.68,139.27,144.88,140.34,4.54,3.2350,198647.06,2850951.003
3,000799.SZ,2020-12-28,133.00,140.34,133.00,140.34,127.58,12.76,10.0016,118251.86,1646735.579
4,000799.SZ,2020-12-25,124.43,128.88,122.43,127.58,125.43,2.15,1.7141,95324.46,1204740.228

In [17]:
price["trade_date"] = pd.to_datetime(price["trade_date"])

In [20]:
quarterly = price.resample("Q", on="trade_date").mean()

In [31]:
roe = pd.read_csv("111家roe数据.csv")
cf = pd.read_csv("111家cf数据.csv")

In [33]:
tempRoe = roe[roe["code"]==tempCode]
tempCf = cf[cf["code"]==cf]

In [46]:
t = tempRoe.columns.get_indexer([roeTime,])[0]

In [48]:
roeTime

'2014-12'

In [52]:
# tempRoe.iloc[0,t:]  # 最后两个时间错位是concat的问题 Mar2中

In [53]:
roeData = tempRoe.iloc[0, t:]

In [56]:
roeData.index = pd.to_datetime(roeData.index)

In [62]:
tt = roeData.resample("Q").last()

In [65]:
ttt = tt.dropna()

In [76]:
ttt.index[-1]

Timestamp('2020-09-30 00:00:00', freq='Q-DEC')

In [71]:
qPrice = quarterly["close"]

In [86]:
tttt = pd.DataFrame({"roe":ttt, "close":qPrice[:ttt.index[-1]]})

In [105]:
tttt["roe"] = tttt["roe"].apply(pd.to_numeric)

In [110]:
tttt["roe"].apply(pd.to_numeric).corr(qPrice[:ttt.index[-1]])

0.417899533878764

In [144]:
tttt["roe"].apply(pd.to_numeric).corr(qPrice[:ttt.index[-1]],method="spearman")

0.2381422924901186

In [145]:
from scipy.stats import spearmanr

In [149]:
tttt["roe"] = tttt["roe"].apply(pd.to_numeric)

In [150]:
temp1 = tttt.dropna()

In [151]:
spearmanr(temp1["roe"], temp1["close"])

SpearmanrResult(correlation=0.2381422924901186, pvalue=0.2738506728809402)

In [115]:
pd.to_numeric(ttt)

2014-12-31   -16.9000
2015-03-31    14.8769
2015-06-30    31.3040
2015-09-30    47.3355
2015-12-31    38.3659
2016-03-31    36.5277
2016-06-30    28.9937
2016-09-30    22.1432
2016-12-31    33.4898
2017-03-31    24.6915
2017-06-30    22.8455
2017-09-30    22.0153
2017-12-31    25.6306
2018-03-31    25.8622
2018-06-30    29.3604
2018-09-30    21.3855
2018-12-31    17.8835
2019-03-31    16.3536
2019-06-30    18.8966
2019-09-30    23.9583
2019-12-31    25.2602
2020-03-31    23.0045
2020-06-30    32.3351
2020-09-30    43.2680
Freq: Q-DEC, Name: 0, dtype: float64

## 检验Pearson相关系数

In [218]:
def correlate(startTime:str, df:pd.DataFrame, price:pd.DataFrame)->float:
    '''
    Description:
    根据startTime从df和price中获取开始时间之后的季度数据
    返回pearson相关系数和spearman相关系数及其pvalue
    ---
    Params:
    startTime, str, like "2014-01"
    df, DataFrame of only one row, company roe or cf data
    price, DataFrame, tushare 请求返回数据
    startTime, str, like 2014-01
    ---
    Returns:
    corrCoef, float 
    '''
    # 获取开始时间所在的下标
    timeIdx = df.columns.get_indexer([startTime,])[0]
    data = df.iloc[0, timeIdx:]
    data.index = pd.to_datetime(data.index)
    # 转化成季度数据
    data = data.resample("Q").last()
    data.dropna(inplace=True)
    endTime = data.index[-1]
    # 获取价格的quarterly数据
    price["trade_date"] = pd.to_datetime(price["trade_date"], format="%Y%m%d")
    quarterly = price.resample("Q", on="trade_date").mean()
    price = quarterly[:endTime]["close"]
    temp = pd.DataFrame(data={"roe":pd.to_numeric(data), "close":price})
    temp.dropna(inplace=True)
    pearson = temp["roe"].corr(temp["close"])
    spearman = spearmanr(temp["roe"], temp["close"])
    return pearson, spearman

In [156]:
pearson, spearman = correlate(roeTime, tempRoe, price)

In [160]:
pearson, spearman[0], spearman[1]

(0.417899533878764, 0.2381422924901186, 0.2738506728809402)

In [170]:
def getPriceData(code:str, startTime:str, endTime:str = "20201231", saveBool:bool =True):
    '''
    Description:
    根据code时间等从tushare获取股价信息
    ---
    Params:
    code, str
    startTime, str, like 2014-01
    endTime, str, like 20201231
    saveBool, bool, whether to save data as csv file, outfile named by code and starttime
    ---
    Returns:
    price
    '''
    outpath = f"data/{code[:-3]}-{startTime}.csv"
    if os.path.exists(outpath):
        # print("downloaded in", outpath)
        price = pd.read_csv(outpath)
        return price

    st = "".join(startTime.split("-"))+"01"
    price = ts.pro_bar(ts_code=code, adj='qfq', start_date=st, end_date=endTime)
    if saveBool:
        if not os.path.exists("data/"):
            os.mkdir("data/")
        price.to_csv(outpath, index=False)
    return price

In [137]:
# getPriceData(tempCode, "2014-01")

In [143]:
def getEarlyTime(time1:str, time2:str):
    '''
    Description:
    获取两个时间中较早的并返回
    ---
    Params:
    time, str, like 2014-01
    ---
    Returns:
    time, str, like 2014-01
    '''
    return time1 if time1<time2 else time2

In [161]:
# codes = df.code.values
# stRoe = df.startTime_roe.values
# stCf = df.startTime_cf.values
# df

In [162]:
df.head()

,code,name,mark,startTime_roe,check,industry,startTime_cf,check.1,both
0,000799.SZ,酒鬼酒,I,2014-12,1.0,食品饮料,2020-03,1.0,1.0
1,002216.SZ,三全食品,I,2017-03,1.0,食品饮料,2019-12,1.0,1.0
2,002568.SZ,百润股份,I,2017-06,1.0,食品饮料,2017-09,1.0,1.0
3,002661.SZ,克明面业,I,2018-06,1.0,食品饮料,2018-06,1.0,1.0
4,600809.SH,山西汾酒,I,2015-09,1.0,食品饮料,2018-12,1.0,1.0

## test

In [172]:
count = 1
for code, startTime_roe, startTime_cf in zip(codes, stRoe, stCf):
    print(code, startTime_roe, startTime_cf)
    count += 1
    if count ==6:
        break

000799.SZ 2014-12 2020-03
002216.SZ 2017-03 2019-12
002568.SZ 2017-06 2017-09
002661.SZ 2018-06 2018-06
600809.SH 2015-09 2018-12

In [165]:
import time

In [206]:
code = "000799.SZ"
startTime_roe = "2014-12"
startTime_cf = "2020-03"
earlyTime = getEarlyTime(startTime_roe, startTime_cf)
print(earlyTime)
price = getPriceData(code, earlyTime, saveBool=True)
tempRoe = roe[roe["code"]==code]
tempCf = cf[cf["code"]==code]

2014-12

In [191]:
# price

In [180]:
timeIdx = tempRoe.columns.get_indexer([startTime_roe, ])[0]
timeIdx

59

In [181]:
data = tempRoe.iloc[0, timeIdx:]

In [182]:
data.index = pd.to_datetime(data.index)

In [183]:
data = data.resample("Q").last()
data.dropna(inplace=True)

In [185]:
endTime = data.index[-1]

In [207]:
# 获取价格的quarterly数据
price["trade_date"] = pd.to_datetime(price["trade_date"], format="%Y%m%d")

In [209]:
quarterly = price.resample("Q", on="trade_date").mean()

In [211]:
price1 = quarterly[:endTime]["close"]

In [214]:
temp = pd.DataFrame(data={"roe":pd.to_numeric(data), "close":price1})
temp.dropna(inplace=True)
pearson = temp["roe"].corr(temp["close"])
spearman = spearmanr(temp["roe"], temp["close"])

In [217]:
pearson, spearman

(0.417899533878764,
 SpearmanrResult(correlation=0.2381422924901186, pvalue=0.2738506728809402))

In [219]:
correlate(startTime_roe, tempRoe, price)

(0.417899533878764,
 SpearmanrResult(correlation=0.2381422924901186, pvalue=0.2738506728809402))

## main

In [221]:
roePearson = {}
roeSpearman = {}
cfPearson = {}
cfSpearman = {}
failed = []
for code, startTime_roe, startTime_cf in zip(codes, stRoe, stCf):
    print(code, end=" ")
    try:
        earlyTime = getEarlyTime(startTime_roe, startTime_cf)
        price = getPriceData(code, earlyTime, saveBool=True)
        tempRoe = roe[roe["code"]==code]
        tempCf = cf[cf["code"]==code]
    except Exception as e:
        print(e)
        failed.append((code, startTime_roe, startTime_cf))
        time.sleep(2)
        continue
    roePear, roeSpear = correlate(startTime_roe, tempRoe, price)
    cfPear, cfSpear = correlate(startTime_cf, tempCf, price)
    roePearson[code] = roePear
    roeSpearman[code] = roeSpear
    cfPearson[code] = cfPear
    cfSpearman[code] = cfSpear
    time.sleep(1)
    print(roePear, roeSpear)

000799.SZ 0.417899533878764 SpearmanrResult(correlation=0.2381422924901186, pvalue=0.2738506728809402)
002216.SZ 0.9226115992931546 SpearmanrResult(correlation=0.4142857142857142, pvalue=0.12471544223657098)
002568.SZ 0.6291239162073572 SpearmanrResult(correlation=0.5736263736263736, pvalue=0.03197081397639698)
002661.SZ 0.6237490983718676 SpearmanrResult(correlation=0.34545454545454546, pvalue=0.32822651147136733)
600809.SH 0.48064535050090434 SpearmanrResult(correlation=0.49870129870129876, pvalue=0.02138084599925308)
600866.SH 0.7166428438920429 SpearmanrResult(correlation=0.6833333333333333, pvalue=0.04244227208707231)
600872.SH 0.5192147337336948 SpearmanrResult(correlation=0.5614035087719299, pvalue=0.012380476816162053)
000682.SZ 0.6342684613974394 SpearmanrResult(correlation=0.5272727272727272, pvalue=0.11730806555020223)
002129.SZ 0.6173061515421819 SpearmanrResult(correlation=0.42499999999999993, pvalue=0.11429547548052224)
002576.SZ 0.16901512469443636 SpearmanrResult(correlation=0.35, pvalue=0.35581957250178897)
600577.SH 0.26173713899890544 SpearmanrResult(correlation=0.6000000000000001, pvalue=0.3999999999999999)
601012.SH 0.2869588192970701 SpearmanrResult(correlation=-0.39999999999999997, pvalue=0.6)
000019.SZ 0.13636510493821982 SpearmanrResult(correlation=0.07142857142857144, pvalue=0.8665262706759088)
000785.SZ -0.11508611812495909 SpearmanrResult(correlation=-0.19999999999999998, pvalue=0.747060078104662)
200019.SZ 'NoneType' object has no attribute 'to_csv'
002014.SZ 0.8512151962932399 SpearmanrResult(correlation=0.8181818181818183, pvalue=0.0011431050868040604)
002243.SZ 0.5299569545430686 SpearmanrResult(correlation=0.5363636363636364, pvalue=0.012190563732810212)
002599.SZ -0.2485440899657817 SpearmanrResult(correlation=-0.28181818181818186, pvalue=0.21584648348646934)
002111.SZ 0.7280415867301099 SpearmanrResult(correlation=0.5384615384615385, pvalue=0.07089431754922315)
002487.SZ 0.12672453345451282 SpearmanrResult(correlation=0.2545454545454546, pvalue=0.4500365768888285)
002532.SZ -0.10491667803399225 SpearmanrResult(correlation=-0.21428571428571433, pvalue=0.6445115810207203)
300092.SZ 0.030523790902998883 SpearmanrResult(correlation=0.261904761904762, pvalue=0.530922861565801)
300095.SZ 0.25396121690047846 SpearmanrResult(correlation=0.6, pvalue=0.28475697986529375)
300171.SZ 0.853512523908747 SpearmanrResult(correlation=0.8999999999999998, pvalue=0.03738607346849874)
300259.SZ -0.7911559911358885 SpearmanrResult(correlation=-0.8857142857142858, pvalue=0.01884548104956266)
600218.SH -0.7457994686196604 SpearmanrResult(correlation=-0.8999999999999998, pvalue=0.03738607346849874)
600501.SH 0.28543782509384397 SpearmanrResult(correlation=0.19999999999999998, pvalue=0.8)
601038.SH 0.8896494967316845 SpearmanrResult(correlation=0.39999999999999997, pvalue=0.5046315754686911)
601100.SH 0.7262524516488756 SpearmanrResult(correlation=0.8970588235294119, pvalue=1.0662246540443239e-06)
601369.SH -0.4579372201088541 SpearmanrResult(correlation=-0.2967032967032967, pvalue=0.3249215884859752)
601608.SH -0.3111212977837212 SpearmanrResult(correlation=-0.054945054945054944, pvalue=0.8585042942308735)
002124.SZ 0.399182548554145 SpearmanrResult(correlation=-0.028571428571428574, pvalue=0.9571545189504373)
002157.SZ 0.22116409205816673 SpearmanrResult(correlation=0.2, pvalue=0.704)
002385.SZ 0.3183251493817742 SpearmanrResult(correlation=0.39999999999999997, pvalue=0.6)
002567.SZ 0.8159643761511377 SpearmanrResult(correlation=0.39999999999999997, pvalue=0.6)
300119.SZ 0.7410599519082559 SpearmanrResult(correlation=0.523809523809524, pvalue=0.18272075053971484)
300498.SZ -0.5021511329014346 SpearmanrResult(correlation=-0.6071428571428572, pvalue=0.1482311614811614)
600359.SH 0.4082635470658616 SpearmanrResult(correlation=0.09999999999999999, pvalue=0.8728885715695383)
600975.SH -0.10728179536887175 SpearmanrResult(correlation=0.09999999999999999, pvalue=0.8728885715695383)
300012.SZ 0.5461718754617132 SpearmanrResult(correlation=0.5090909090909091, pvalue=0.10973723224165641)
600128.SH -0.14704909649143988 SpearmanrResult(correlation=-0.7999999999999999, pvalue=0.20000000000000007)
002190.SZ 0.5995126497007598 SpearmanrResult(correlation=0.6785714285714287, pvalue=0.0937502539598313)
600685.SH 0.4849901471289048 SpearmanrResult(correlation=0.25, pvalue=0.5887244480896833)
000955.SZ 0.7752822747674949 SpearmanrResult(correlation=0.7999999999999999, pvalue=0.20000000000000007)
600496.SH 0.2908013035756696 SpearmanrResult(correlation=0.2727272727272727, pvalue=0.44583834154275137)
600853.SH 0.10066524467978948 SpearmanrResult(correlation=0.12076923076923077, pvalue=0.5652622451028124)
002045.SZ 0.10657111793965404 SpearmanrResult(correlation=0.09999999999999999, pvalue=0.8728885715695383)
002134.SZ 0.7878229568832922 SpearmanrResult(correlation=0.49999999999999994, pvalue=0.39100221895577053)
002199.SZ -0.8779096438849178 SpearmanrResult(correlation=-0.942857142857143, pvalue=0.004804664723032055)
002351.SZ -0.19760409172697913 SpearmanrResult(correlation=-0.028571428571428574, pvalue=0.9571545189504373)
002409.SZ 0.702849564018103 SpearmanrResult(correlation=0.7666666666666667, pvalue=0.01594401657897401)
002436.SZ 0.39562325292436146 SpearmanrResult(correlation=0.28571428571428575, pvalue=0.4927262450169573)
002463.SZ 0.7726184392236645 SpearmanrResult(correlation=0.7246753246753247, pvalue=0.00020267623916371926)
300256.SZ 0.9233283025198028 SpearmanrResult(correlation=0.8999999999999998, pvalue=0.03738607346849874)
300327.SZ 0.645327812411274 SpearmanrResult(correlation=0.6027350427350426, pvalue=0.0011188884180024566)
300346.SZ 0.18402273419773116 SpearmanrResult(correlation=0.2923076923076923, pvalue=0.3105263203858819)
600071.SH -0.26002968477965593 SpearmanrResult(correlation=-0.39999999999999997, pvalue=0.6)
600584.SH 0.929068145103246 SpearmanrResult(correlation=1.0, pvalue=0.0)
000401.SZ 0.37505357434437414 SpearmanrResult(correlation=0.4534313725490197, pvalue=0.06754818013371684)
002392.SZ 0.303642828117501 SpearmanrResult(correlation=0.3205882352941176, pvalue=0.22604542220798235)
002641.SZ 0.8066537759088706 SpearmanrResult(correlation=0.8545454545454546, pvalue=0.0008066741521648989)
600720.SH 0.5536905010198657 SpearmanrResult(correlation=0.38970588235294124, pvalue=0.12203439858782986)
000625.SZ 0.3337701313138786 SpearmanrResult(correlation=-0.5, pvalue=0.6666666666666667)
000800.SZ 0.7801848997438094 SpearmanrResult(correlation=0.7, pvalue=0.1881204043741873)
200625.SZ 'NoneType' object has no attribute 'to_csv'
600166.SH 0.004222761006570867 SpearmanrResult(correlation=0.03571428571428572, pvalue=0.9394082054712856)
601717.SH 0.5861163988854481 SpearmanrResult(correlation=0.465686274509804, pvalue=0.05957824210811783)
601799.SH 0.5904837987331958 SpearmanrResult(correlation=0.4825174825174825, pvalue=0.11210929146889191)
000612.SZ 0.11260861574028744 SpearmanrResult(correlation=0.09999999999999999, pvalue=0.8728885715695383)
000969.SZ -0.41957334787974093 SpearmanrResult(correlation=-0.3142857142857143, pvalue=0.5440932944606414)
600961.SH 0.5154216361523279 SpearmanrResult(correlation=0.3571428571428572, pvalue=0.4316113520383278)
601168.SH 0.269413772111966 SpearmanrResult(correlation=0.1464285714285714, pvalue=0.602549920983054)
601388.SH -0.31868570755061454 SpearmanrResult(correlation=-0.39999999999999997, pvalue=0.6)
601677.SH -0.09733686998696751 SpearmanrResult(correlation=-0.1985294117647059, pvalue=0.4449505436788084)
002010.SZ -0.9092994822791398 SpearmanrResult(correlation=-0.7000000000000001, pvalue=0.01647097883651441)
600026.SH 0.5244280667177795 SpearmanrResult(correlation=0.39999999999999997, pvalue=0.6)
002232.SZ 0.49636726764389955 SpearmanrResult(correlation=0.4992307692307692, pvalue=0.011065261834899013)
002312.SZ 0.8572844454452154 SpearmanrResult(correlation=0.8999999999999998, pvalue=0.03738607346849874)
300330.SZ -0.3592373771150225 SpearmanrResult(correlation=0.09999999999999999, pvalue=0.8728885715695383)
600571.SH -0.2838685793940216 SpearmanrResult(correlation=-0.1666666666666667, pvalue=0.693238811728395)
601519.SH 0.5641753582535892 SpearmanrResult(correlation=0.3010989010989011, pvalue=0.2955144656072166)
000686.SZ 0.48125771115409843 SpearmanrResult(correlation=0.30952380952380953, pvalue=0.4556448907375822)
002242.SZ 0.7228100201730686 SpearmanrResult(correlation=0.7666666666666667, pvalue=0.01594401657897401)
200512.SZ 'NoneType' object has no attribute 'to_csv'
603366.SH 0.668012392749496 SpearmanrResult(correlation=0.7, pvalue=0.1881204043741873)
002443.SZ -0.4950892641584669 SpearmanrResult(correlation=-0.4175824175824176, pvalue=0.1556747536334745)
300280.SZ -0.23357355468727847 SpearmanrResult(correlation=-0.22527472527472525, pvalue=0.4593051427250058)
300299.SZ -0.2812819866430128 SpearmanrResult(correlation=-0.6071428571428572, pvalue=0.1482311614811614)
600639.SH 0.46688356026623484 SpearmanrResult(correlation=0.41421568627450983, pvalue=0.09833118794961317)
900911.SH 'NoneType' object has no attribute 'to_csv'
900939.SH 'NoneType' object has no attribute 'to_csv'
000407.SZ -0.5720526057012122 SpearmanrResult(correlation=-0.7802197802197802, pvalue=0.0009944938002309496)
000531.SZ 0.22574306766120003 SpearmanrResult(correlation=-0.07142857142857144, pvalue=0.8790481931481541)
000690.SZ -0.14003088658516194 SpearmanrResult(correlation=-0.11188811188811189, pvalue=0.729194990751066)
001896.SZ -0.019399590075740828 SpearmanrResult(correlation=0.3333333333333334, pvalue=0.4197530864197531)
600027.SH -0.21007647468346988 SpearmanrResult(correlation=-0.27272727272727276, pvalue=0.41714143714253127)
000590.SZ -0.9646674578407146 SpearmanrResult(correlation=-0.9999999999999999, pvalue=1.4042654220543672e-24)
000661.SZ 0.43924204289260926 SpearmanrResult(correlation=0.5363636363636364, pvalue=0.08895341813596276)
000739.SZ 0.6573582235609345 SpearmanrResult(correlation=0.8545454545454544, pvalue=0.0016368033159867143)
002223.SZ 0.927525010288736 SpearmanrResult(correlation=0.5181818181818182, pvalue=0.10249153979096383)
002252.SZ 0.35016595965766234 SpearmanrResult(correlation=0.6, pvalue=0.20799999999999982)
002432.SZ 0.9132332378916166 SpearmanrResult(correlation=0.5476190476190477, pvalue=0.1600256425388966)
300142.SZ 0.37745751430470736 SpearmanrResult(correlation=0.2823529411764706, pvalue=0.2893498290632739)
300206.SZ 0.904733976354508 SpearmanrResult(correlation=0.9160839160839163, pvalue=2.8428045348547105e-05)
300314.SZ 0.5539206526902347 SpearmanrResult(correlation=0.642857142857143, pvalue=0.11939237342741094)
600055.SH 0.22888899576910804 SpearmanrResult(correlation=0.1258741258741259, pvalue=0.6966831093957659)
002080.SZ 0.5124095997892087 SpearmanrResult(correlation=0.5164835164835164, pvalue=0.07074904067496371)
002556.SZ -0.5037842337562575 SpearmanrResult(correlation=-0.19999999999999998, pvalue=0.8)
002683.SZ 0.39880398416115753 SpearmanrResult(correlation=0.611764705882353, pvalue=0.011788405053115212)
002194.SZ 0.873593113105445 SpearmanrResult(correlation=0.8666666666666665, pvalue=0.0011735381801554687)
002467.SZ 0.3819315702055057 SpearmanrResult(correlation=0.36363636363636365, pvalue=0.2716375409938228)

In [224]:
len(codes)

111

In [228]:
roe1 = []  # Pearson
roe2 = []  # Spearman
roe3 = []  # pvalue for Spearman
cf1 = []
cf2 = []
cf3 = []
tempCodes = list(roePearson.keys())
for code in tempCodes:
    roe1.append(roePearson[code])
    roe2.append(roeSpearman[code][0])
    roe3.append(roeSpearman[code][1])
    cf1.append(cfPearson[code])
    cf2.append(cfSpearman[code][0])
    cf3.append(cfSpearman[code][1])

In [229]:
failed  # 无数据

[('200019.SZ', '2018-12', '2019-03'),
 ('200625.SZ', '2020-03', '2019-06'),
 ('200512.SZ', '2018-12', '2019-03'),
 ('900911.SH', '2016-09', '2020-03'),
 ('900939.SH', '2019-03', '2017-09')]

In [247]:
names = []
for code in tempCodes:
    names.append(df[df["code"]==code].name.values[0])

In [249]:
checkDf = pd.DataFrame(data={"code":tempCodes, "name":names, 
                             "roe_Pearson":roe1, "roe_Spearman":roe2, "roe_pvalue":roe3,
                             "cf_Pearson":cf1, "cf_Spearman":cf2, "cf_pvalue":cf3})

In [251]:
checkDf.to_csv("roe-cf-price相关系数.csv", index=False)

## 筛选公司
- 从相关系数筛选
- 看p值

In [252]:
checkDf.head()

,code,name,roe_Pearson,roe_Spearman,roe_pvalue,cf_Pearson,cf_Spearman,cf_pvalue
0,000799.SZ,酒鬼酒,0.417900,0.238142,0.273851,0.939209,0.500000,0.666667
1,002216.SZ,三全食品,0.922612,0.414286,0.124715,-0.222069,-0.400000,0.600000
2,002568.SZ,百润股份,0.629124,0.573626,0.031971,0.844735,0.829670,0.000450
3,002661.SZ,克明面业,0.623749,0.345455,0.328227,0.380465,0.296970,0.404702
4,600809.SH,山西汾酒,0.480645,0.498701,0.021381,0.140199,0.190476,0.651401

In [256]:
len(checkDf[checkDf["roe_pvalue"]<0.1])

34

In [257]:
len(checkDf[checkDf["cf_pvalue"]<0.1])

25

In [258]:
checkDf[(checkDf["roe_pvalue"]<0.1) & (checkDf["cf_pvalue"]<0.1)]

,code,name,roe_Pearson,roe_Spearman,roe_pvalue,cf_Pearson,cf_Spearman,cf_pvalue
2,002568.SZ,百润股份,0.629124,0.573626,0.031971,0.844735,0.829670,0.000450
5,600866.SH,星湖科技,0.716643,0.683333,0.042442,-0.544733,-0.535797,0.005772
27,601100.SH,恒立液压,0.726252,0.897059,0.000001,0.599403,0.590909,0.055576
49,002409.SZ,雅克科技,0.702850,0.766667,0.015944,0.738777,0.933333,0.000236
51,002463.SZ,沪电股份,0.772618,0.724675,0.000203,0.746098,0.644295,0.003901
75,002312.SZ,三泰控股,0.857284,0.900000,0.037386,0.790852,0.672727,0.033041
86,000407.SZ,胜利股份,-0.572053,-0.780220,0.000994,-0.305935,-0.389231,0.054462
92,000661.SZ,长春高新,0.439242,0.536364,0.088953,0.774100,0.800000,0.003110
93,000739.SZ,普洛药业,0.657358,0.854545,0.001637,0.728386,0.776224,0.002993
103,002683.SZ,宏大爆破,0.398804,0.611765,0.011788,0.444148,0.597059,0.014610

In [267]:
df[df["code"]=="600866.SH"]

,code,name,mark,startTime_roe,check,industry,startTime_cf,check.1,both
5,600866.SH,星湖科技,I,2018-09,1.0,食品饮料,2014-03,1.0,1.0

## 去除负相关的

In [270]:
positive = checkDf[(checkDf["roe_Pearson"]>0)&(checkDf["cf_Pearson"]>0)&(checkDf["roe_Spearman"]>0)&(checkDf["cf_Spearman"]>0)]

In [271]:
len(checkDf), len(positive)

(106, 53)

In [273]:
len(positive[positive["roe_pvalue"]<0.1])

19

In [274]:
len(positive[positive["cf_pvalue"]<0.1])

17

In [275]:
positive[(positive["cf_pvalue"]<0.1)&(positive["roe_pvalue"]<0.1)]

,code,name,roe_Pearson,roe_Spearman,roe_pvalue,cf_Pearson,cf_Spearman,cf_pvalue
2,002568.SZ,百润股份,0.629124,0.573626,0.031971,0.844735,0.829670,0.000450
27,601100.SH,恒立液压,0.726252,0.897059,0.000001,0.599403,0.590909,0.055576
49,002409.SZ,雅克科技,0.702850,0.766667,0.015944,0.738777,0.933333,0.000236
51,002463.SZ,沪电股份,0.772618,0.724675,0.000203,0.746098,0.644295,0.003901
75,002312.SZ,三泰控股,0.857284,0.900000,0.037386,0.790852,0.672727,0.033041
92,000661.SZ,长春高新,0.439242,0.536364,0.088953,0.774100,0.800000,0.003110
93,000739.SZ,普洛药业,0.657358,0.854545,0.001637,0.728386,0.776224,0.002993
103,002683.SZ,宏大爆破,0.398804,0.611765,0.011788,0.444148,0.597059,0.014610

In [276]:
positive[positive["roe_Pearson"]>0.7]

,code,name,roe_Pearson,roe_Spearman,roe_pvalue,cf_Pearson,cf_Spearman,cf_pvalue
14,002014.SZ,永新股份,0.851215,0.818182,0.001143,0.354754,0.350000,0.355820
17,002111.SZ,威海广泰,0.728042,0.538462,0.070894,0.186173,0.238095,0.570156
22,300171.SZ,东富龙,0.853513,0.900000,0.037386,0.661613,0.443771,0.198893
26,601038.SH,一拖股份,0.889649,0.400000,0.504632,0.579042,0.678571,0.093750
27,601100.SH,恒立液压,0.726252,0.897059,0.000001,0.599403,0.590909,0.055576
34,300119.SZ,瑞普生物,0.741060,0.523810,0.182721,0.841220,0.750000,0.052181
42,000955.SZ,欣龙控股,0.775282,0.800000,0.200000,0.837587,0.560674,0.116327
46,002134.SZ,天津普林,0.787823,0.500000,0.391002,0.724014,0.783333,0.012520
49,002409.SZ,雅克科技,0.702850,0.766667,0.015944,0.738777,0.933333,0.000236
51,002463.SZ,沪电股份,0.772618,0.724675,0.000203,0.746098,0.644295,0.003901
56,600584.SH,长电科技,0.929068,1.000000,0.000000,0.745397,0.400000,0.600000
59,002641.SZ,永高股份,0.806654,0.854545,0.000807,0.418936,0.600000,0.208000
75,002312.SZ,三泰控股,0.857284,0.900000,0.037386,0.790852,0.672727,0.033041
80,002242.SZ,九阳股份,0.722810,0.766667,0.015944,0.214083,0.100000,0.872889
94,002223.SZ,鱼跃医疗,0.927525,0.518182,0.102492,0.799313,0.857143,0.013697
96,002432.SZ,九安医疗,0.913233,0.547619,0.160026,0.304825,0.051299,0.934713
98,300206.SZ,理邦仪器,0.904734,0.916084,0.000028,0.796830,0.291176,0.273887