In [1]:
import sys
sys.path.append("..")
from roeProcessTools import *

In [2]:
filePath = "/Users/zch/Desktop/internship/Feb25/cf和roe交集.xlsx"
cfDir = "/Users/zch/Desktop/internship/SWCFData/clean/"
roeDir = "/Users/zch/Desktop/internship/SWROEData/cleanData/"

In [3]:
selected = pd.read_excel(filePath)

In [4]:
target = selected[84:]

In [5]:
target.head()

         code  name mark startTime_roe industry startTime_cf
84  300346.SZ  南大光电    I       2017-06       电子      2018-09
85  600071.SH  凤凰光学    I       2019-12       电子      2018-09
86  600584.SH  长电科技    I       2019-12       电子      2019-12
87  000401.SZ  冀东水泥    I       2016-06     建筑材料      2019-03
88  002392.SZ  北京利尔    I       2016-12     建筑材料      2019-09

In [6]:
codes = target.code.values

In [10]:
import os

In [11]:
cfs = []
with os.scandir(cfDir) as it:
    for entry in it:
        if entry.name.endswith("xlsx"):
            cfs.append(pd.read_excel(entry.path))

In [12]:
cf = pd.concat(cfs)

In [15]:
roes = []
with os.scandir(roeDir) as it:
    for entry in it:
        if entry.name.endswith("xlsx"):
            roes.append(pd.read_excel(entry.path))

In [16]:
roe = pd.concat(roes)

In [17]:
cf.to_excel("现金流数据.xlsx", index=False)
roe.to_excel("roe数据.xlsx", index=False)

## 检验

In [8]:
roe = pd.read_excel("roe数据.xlsx")
cf = pd.read_excel("现金流数据.xlsx")

In [9]:
roe.head()

,code,name,2001-03,2001-06,2001-09,2001-12,2002-03,2002-06,2002-09,2002-12,...,2019-09,2019-12,2020-03,2020-06,2020-09,2020-12,2000-12,2000-09,2000-03,2000-06
0,000001.SZ,平安银行,2.9296,1.7006,2.8592,1.0276,4.9452,3.3581,2.6375,0.32160,...,3.0176,1.52200,2.5695,1.45790,2.45580,1.8066,NaN,NaN,NaN,NaN
1,600000.SH,浦发银行,NaN,NaN,3.5552,3.1388,3.6912,3.6906,4.0343,5.42280,...,3.1455,2.90266,3.0746,2.90266,2.90266,NaN,NaN,NaN,NaN,NaN
2,600016.SH,民生银行,2.7211,2.2802,2.9664,2.8931,3.6043,4.0887,3.9503,3.87570,...,2.8708,2.17905,3.1527,2.21690,2.17905,NaN,NaN,NaN,NaN,NaN
3,600036.SH,招商银行,NaN,NaN,NaN,NaN,3.2649,3.6528,2.5807,2.53032,...,4.5739,2.58800,4.4354,3.45110,4.01470,NaN,NaN,NaN,NaN,NaN
4,601009.SH,南京银行,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.6238,2.99340,4.2171,3.60580,2.79430,NaN,NaN,NaN,NaN,NaN

In [10]:
cf.head()

,code,name,2000-06,2000-09,2000-12,2001-06,2001-09,2001-12,2002-03,2002-06,...,2019-03,2019-06,2019-09,2019-12,2020-03,2020-06,2020-09,2020-12,2000-03,2001-03
0,000088.SZ,盐田港,39.9149,NaN,41.3036,42.4782,NaN,53.1255,53.1255,55.8233,...,27.5991,26.2288,37.3019,43.7381,39.3470,54.6110,49.8254,NaN,NaN,NaN
1,000089.SZ,深圳机场,53.8475,NaN,47.3323,60.9306,NaN,58.9658,58.9658,43.2852,...,26.0515,25.7161,27.1030,25.3124,32.0637,21.2754,18.0440,NaN,NaN,NaN
2,000099.SZ,中信海直,5.7820,NaN,19.4784,4.7863,NaN,19.8775,19.8775,7.1201,...,27.8150,29.1799,44.8097,48.8600,63.2565,74.5158,62.3745,NaN,NaN,NaN
3,000429.SZ,粤高速A,73.7511,NaN,62.2701,80.3441,62.2701,76.4541,76.4541,63.1373,...,65.4199,67.8830,67.9987,65.0292,63.6680,60.6510,61.3595,NaN,NaN,NaN
4,000507.SZ,珠海港,-39.4638,NaN,39.2992,35.6512,NaN,2.2658,2.2658,3.7697,...,8.3140,5.4826,10.7813,9.1938,8.6266,13.9599,7.7238,NaN,NaN,NaN

In [1]:
# cf
print()
# for code in codes:
#     showOne(code, cf, center=False, n=8)

In [2]:
# roe
print()
# for code in codes:
#     showOne(code, roe, center=False)